
.container__delivery-address {
    width: 100%;
}

.delivery-addres__content {
    width: 500px;
    min-width: 300px;
    line-height: 1.2rem;
    color: #5A5D5A;
    font-size: 14px;
}

.delivery-addres__content h1 {
    color: #231f1e;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.delivery-addres__content h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.content-edit-link {
    margin-top: 20px;
}

.content-edit-link a {
    color: #5A5D5A;
    text-decoration: underline;
}