<div class="container__delivery-address">
    <div class="delivery-addres__content">
        <h1>endereço de entrega</h1>
        <h2>{{ deliveryAddress.name }}</h2>
        <div class="content-street-number">
            <span>{{ deliveryAddress.ruas}}, </span>
            <span>{{ deliveryAddress.number}}, </span>
            <span>{{ deliveryAddress.complement}}</span>
        </div>
        <div class="content-dist-conc">
            <span>{{ deliveryAddress.Concelho }} - </span>
            <span>{{ deliveryAddress.Distrito }}</span>
        </div>
        <span>Código postal: {{ deliveryAddress.CP }}</span>
        <div class="content-edit-link"><a routerLink="/checkout/register-address"> alterar endereço de entrega</a></div>
    </div>
</div>
