.container__footer {
    
    margin: auto;
}

.footer__content {
    margin: 60px auto;
    display: grid;
    gap: 16px;
    grid-template-columns: 2.5fr 1fr .8fr .8fr .8fr;
    width: 80%;
}


.logo {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 3px 5px;
    max-width: 190px;
    max-height: 50px;
}

.logo h1 {
    color: #231F1E;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}


.logo img{
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.content__grid-main {
    padding-right: 20px;
}

.content__grid-main p {
    margin-bottom: 30px;
}

.content__grid-main h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}


.conent__grid-col > h3  {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.conent__grid-col > ul  {
    list-style: none;
    padding: 0;
}

.conent__grid-col > ul > li {
    margin-bottom: 5px;
    transition: .5s ease;
}

.conent__grid-col > ul > li :hover {
    font-weight: 700;
    padding-left: 10px;
}

.conent__grid-col > ul > li > a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.grid-main__payments {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    row-gap: 10px;
    width: 100%;
}

.grid-main__payments img {
    width: 40px;
}

.payments-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 70px;
    height: 45px;
}

.payments-option p {
    margin: 0;
}