.container__footer {
    margin-bottom: 50px;
}

.footer__content {
    margin: 60px 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr;;
}

.content__grid-main img {
    margin-bottom: 30px;
}

.content__grid-main p {
    margin-bottom: 30px;
}


.conent__grid-col > h3  {
    font-size: 20px;
    margin-bottom: 20px;
}

.conent__grid-col > ul  {
    list-style: none;
}

.conent__grid-col > ul > li {
    margin-bottom: 10px;
}