<footer class="container__footer">
    <hr>
    <div class="footer__content">
        <div class="content__grid-main">
            <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e86ab4c21faa7bc0bd90dd_Logo.svg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque fugit eligendi earum fuga dolore quod deserunt illum.
            </p>

            <h3>Accepted Payments</h3>
            <div class="grid-main__payments">

            </div>
        </div>
        <div class="conent__grid-col">
            <h3>Department</h3>
            <ul>
                <li>
                    <a href="">Fashion</a>
                </li>
                <li>
                    <a href="">EducationProduct</a>
                </li>
                <li>
                    <a href="">Thecnology</a>
                </li>
                <li>
                    <a href="">Sports</a>
                </li>
            </ul>
        </div>
        <div class="conent__grid-col">
            <h3>Department</h3>
            <ul>
                <li>
                    <a href="">Fashion</a>
                </li>
                <li>
                    <a href="">EducationProduct</a>
                </li>
                <li>
                    <a href="">Thecnology</a>
                </li>
                <li>
                    <a href="">Sports</a>
                </li>
            </ul>
        </div>
        <div class="conent__grid-col">
            <h3>Department</h3>
            <ul>
                <li>
                    <a href="">Fashion</a>
                </li>
                <li>
                    <a href="">EducationProduct</a>
                </li>
                <li>
                    <a href="">Thecnology</a>
                </li>
                <li>
                    <a href="">Sports</a>
                </li>
            </ul>
        </div>
        <div class="conent__grid-col">
            <h3>Department</h3>
            <ul>
                <li>
                    <a href="">Fashion</a>
                </li>
                <li>
                    <a href="">EducationProduct</a>
                </li>
                <li>
                    <a href="">Thecnology</a>
                </li>
                <li>
                    <a href="">Sports</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
