.container__footer {
}

.footer__content {
    margin: 60px 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr;;
}


.logo {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 3px 5px;
    max-width: 190px;
    max-height: 50px;
}

.logo h1 {
    color: #231F1E;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}


.logo img{
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.content__grid-main img {
}

.content__grid-main p {
    margin-bottom: 30px;
}


.conent__grid-col > h3  {
    font-size: 20px;
    margin-bottom: 20px;
}

.conent__grid-col > ul  {
    list-style: none;
}

.conent__grid-col > ul > li {
    margin-bottom: 10px;
}