
.container__register-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.title {
    width: 50%;
    margin: 10px auto;
    font-size: 18px;
}

.title h1 {
    color: #231f1e;
    font-size: 28px;
}

.register-address__content {
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #231f1e;
    height: 30px;
}

form .required::before {
    content: "*";
    margin-right: 2px;
    color: red;
}

form .optional::after {
    content: " (opicional)";
    margin-right: 2px;
    color: #CCC;
}


.text-lbl {
    display: flex;
}

.text-lbl span {
    color: red;
    margin-right: 2px;
    font-size: 14px;
}

form input {
    border: 1px solid #5A5D5A;
    border-radius: 10px;
    height: 45px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.search-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search-field input {
    width: 50%;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.input-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

button {
    font-family: Eina01, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background-color: #003D29;
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid #003D29;
    cursor: pointer;
    max-width: 400px ;
    margin: 0 auto;
}

button:hover {
    color: #FFF;
    background-color: #231F1E;
    transition: .5s;
}

