<div class="container__register-address">
    <div class="title">
        <h1>cadastrar dados para entrega</h1>
    </div>
    <div class="register-address__content">
        <div class="content__form">
            <div class="search-field">
                <form [formGroup]="searchCPForm"  (ngSubmit)="findAddress(cp.value)">
                    <label class="required" for="">código postal</label>
                    <div class="search-box">
                        <input #cp formControlName="postalCode" type="search">
                        <button class="search-box-btn" type="submit" ><img src="../../../assets/search-Icon.svg" alt=""></button>
                    </div>
                </form>
                <a href="https://www.codigo-postal.pt/" target="_blank"> não sei meu código postal</a>
            </div>
            <form [formGroup]="registerAddressForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
                <div class="input-row">
                    <div class="input-field">
                        <label class="required" for="">distrito</label>
                        <input class="read-only" readonly="true" name="district" id="district" formControlName="district" type="text">
                        <div class="field-error" *ngIf="district.invalid && formDir.submitted">
                            campo obrigatório
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="required" for="">município</label>
                        <input class="read-only" readonly="true" name="municipality" id="municipality" formControlName="municipality" type="text">
                        <div class="field-error" *ngIf="municipality.invalid && formDir.submitted">
                            campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">localidade</label>
                    <input class="read-only" readonly="true" name="locality" id="locality" formControlName="locality" type="text">
                    <div class="field-error" *ngIf="locality.invalid && formDir.submitted">
                        campo obrigatório
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">rua</label>
                    <input class="read-only" readonly="true" name="center" id="center" formControlName="street" type="text" style="text-transform: capitalize">
                    <div class="field-error" *ngIf="street.invalid && formDir.submitted">
                        campo obrigatório
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-field">
                        <label class="required" for="">número</label>
                        <input [ngClass]="{'field-border-error':number.invalid && formDir.submitted}" formControlName="number" type="text">
                        <div class="field-error" *ngIf="number.invalid && formDir.submitted">
                            campo obrigatório
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="optional" for="">complemento</label>
                        <input formControlName="complement"type="text">
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">ponto de referência</label>
                    <input [ngClass]="{'field-border-error':referencePoint.invalid && formDir.submitted}" formControlName="referencePoint" type="text">
                    <div class="field-error" *ngIf="referencePoint.invalid && formDir.submitted">
                        campo obrigatório
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-field">
                        <label class="required" for="">nome</label>
                        <input [ngClass]="{'field-border-error':name.invalid && formDir.submitted}" formControlName="name" type="text">
                        <div class="field-error" *ngIf="name.invalid && formDir.submitted">
                            <p *ngIf="name.errors?.['required']">campo obrigatório</p>
                            <p *ngIf="name.errors?.['minLenght']">Deve conter o nome completo</p>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="optional" for="">documento de indentidade</label>
                        <input formControlName="docIdentity" type="text">
                    </div>
                </div>
                <button type="submit">salvar endereço para entrega</button> 
            </form>
        </div>
    </div>

</div>

