<div class="container__register-address">
    <div class="title">
        <h1>cadastrar endereço de entrega</h1>
    </div>
    <div class="register-address__content">
        <div class="content__form">
            <form action="">
                <div class="search-field">
                    <label class="required" for="">código postal</label>
                    <input type="search">
                </div>
            </form>
            <form [formGroup]="registerAddressForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
                <div class="input-row">
                    <div class="input-field">
                        <label class="required" for="">distrito</label>
                        <input name="district" id="district" formControlName="district" type="text">
                        <div *ngIf="district.invalid && formDir.submitted">
                            campo obrigatório
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="required" for="">município</label>
                        <input name="municipio" id="municipio" formControlName="municipio" type="text">
                        <div *ngIf="municipio.invalid && formDir.submitted">
                            campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">localidade</label>
                    <input type="text">
                    <div *ngIf="locale.invalid && formDir.submitted">
                        campo obrigatório
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">centro</label>
                    <input type="text">
                    <div *ngIf="center.invalid && formDir.submitted">
                        campo obrigatório
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">designação postal</label>
                    <input type="text">
                    <div *ngIf="postalDesignation.invalid && formDir.submitted">
                        campo obrigatório
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-field">
                        <label class="required" for="">número</label>
                        <input type="text">
                    </div>
                    <div class="input-field">
                        <label class="optional" for="">complemento</label>
                        <input type="text">
                    </div>
                </div>
                <div class="input-field">
                    <label class="required" for="">ponto de referência</label>
                    <input type="text">
                </div>
                <div class="input-row">
                    <div class="input-field">
                        <label class="required" for="">nome</label>
                        <input type="text">
                    </div>
                    <div class="input-field">
                        <label class="optional" for="">cpf</label>
                        <input type="text">
                    </div>
                </div>
                <button type="submit">salvar endereço para entrega</button>
            </form>
        </div>
    </div>

</div>

