
.container__register-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.title {
    width: 50%;
    margin: 10px auto;
    font-size: 18px;
}

.title h1 {
    color: #231f1e;
    font-size: 28px;
}

.register-address__content {
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #231f1e;
    height: 25px;
}

form .required {
    font-size: 14px;
    margin: 0;
}

form .required::before {
    content: "*";
    margin-right: 2px;
    color: red;
}

form .optional {
    font-size: 14px;
    margin: 0;
}

form .optional::after {
    content: " (opicional)";
    margin-right: 2px;
    color: #CCC;
}


.text-lbl {
    display: flex;
}

.text-lbl span {
    color: red;
    margin-right: 2px;
    font-size: 14px;
}

form input {
    border: 1px solid #5A5D5A;
    border-radius: 10px;
    height: 45px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.search-field {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search-field input {
    max-width: 300px;
}

.search-field a{
    text-decoration: none;
    font-size: 14px;
    opacity: 0.7;
}

.search-field a:hover{
    opacity: 1;
    text-decoration: underline;
}

.read-only {
    background-color: #F8F8F8;
}


.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
}

.input-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 10px;
}

button {
    font-family: Eina01, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background-color: #003D29;
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid #003D29;
    cursor: pointer;
    max-width: 400px ;
    margin: 0 auto;
    margin-top: 30px;
}

button:hover {
    color: #FFF;
    background-color: #231F1E;
    transition: .5s;
}

.btn-disable {
    opacity: .5;
}

.field-error {
    color: red;
    font-size: 13px;
}

.field-error p::before{
    content: "*";
}

.input-field .field-border-error {
    width: 100%;
    outline: none;
    border-color: red;
    background-color: rgba(221, 158, 158, 0.523);
    border: 2px solid #FF0000;
}

