<div class="container__payment-card">
    <div class="payment-card__content">
        <h1>formas de pagamento</h1>
        <div class="content__payment-options">
            <div class="payment-options-card">
                <p> cartão de crédito </p>
            </div>
            <div class="payment-options-card">
                <p> paypal </p>
            </div>
            <div class="payment-options-card">
                <p> boleto </p>
            </div>
        </div>
    </div>

</div>
