
.container__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    border-bottom: 2px solid #efebeabe;
    position: relative;
    margin:auto;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 3px 5px;
}

.logo h1 {
    color: #231F1E;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}


.container__navbar .logo img{
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.navbar__menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
}

.navbar__menu-item {
    display: inline-block;
}

.navbar__menu-item > a {
    display: inline-block;
    padding: 27px;
    text-align: center;
    width: 100%;
    min-width: 150px;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    color: #231F1E;
}

.navbar__menu-item > a:hover {
    color: #8a8484;
}

.menu-item-drop-menu {
    padding: 10px 20px;
    z-index: 1;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
    display: none;
    width: 100vw;
    border-radius: 0 0 10px 10px ;
}

.menu-item-drop-menu a {
    color: #231F1E;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.menu-item-drop-menu a:hover  {
    color: #8a8484;
}



.navbar__menu-item:hover .menu-item-drop-menu {
    display: flex;
}

.navbar__search-box {
    padding: 8px 16px;
    border: 1px solid #F5F6F6;
    background-color: #F5F6F6;
    border-radius: 25px;
    margin-right: 20px;
    min-width: 300px;
}

.navbar__search-box form {
   display: flex;
   justify-content: space-between;
}

.navbar__search-box input{
    border: unset;
    color: #231F1E;
    background-color: #F5F6F6;
    outline: none!important;
}

.navbar__search-box button{
    border: unset;
    background-color: #F5F6F6;
    cursor: pointer;
}

.navbar__search-box button:hover {
    color: red;
}


.navbar__login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__login > img{
    margin-right: 10px;
    
}

.navbar__login > a{
    font-weight: 500;
    color: #231F1E;
    cursor: pointer;
}

.login-user-name {
    margin-right: 10px;
}

.navbar__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
}

.navbar__cart > img{
    margin-right: 10px;
}

.navbar__cart > a{
    font-weight: 500;
    color: #231F1E;
}

.cart-notification {
    display: flex;
    left: 15px;
    top: 5px;
    width: 20px;
    height: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #FFF;
    border-radius: 50%;
    font-size: 12px;
}

.content__category-badge {
    margin: 5px 0;
}
