<header>
    <nav class="container__navbar">
        <a routerLink="">
            <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e86ab4c21faa7bc0bd90dd_Logo.svg" loading="lazy" alt="" class="logo-iimage">
        </a>
        <ul class="navbar__menu">
            <li class="navbar__menu-item"><a href="">Categorias</a></li>
            <li class="navbar__menu-item"><a href="">Deals</a></li>
            <li class="navbar__menu-item"><a href="">Novidades</a></li>
            <li class="navbar__menu-item"><a href="">Promoções</a></li>
        </ul>
        <div class="navbar__search-box">
            <form [formGroup]="form">
                <input #name id="name" type="text" formControlName="name" placeholder="Buscar produto">
                <button (click)="search(name.value)" type="submit" ><img src="../../../assets/search-Icon.svg" alt=""></button>
            </form>
        </div>
        <div class="navbar__login">
            <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63eb3dec9d6ee83660ebe1de_user.png" loading="lazy" alt="">
            <a href="">Login</a>
        </div>
        <div class="navbar__cart">
            <a routerLink="/cart">
                <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63eb3dec9b865e78d4ff6b8d_shopping-cart-add.png" loading="lazy" alt="">
            </a>
            <div class="cart-notification" *ngIf="cart.totalCount">
                <span>{{cart.totalCount }}</span>
            </div>
        </div>
    </nav>
    <div class="content__category-badge">
        <app-categories-badge [categoryList]="categoryList"></app-categories-badge>
    </div>
</header>

