.container__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    border-bottom: 2px solid #efebea7a;
}

.navbar__menu {
    display: flex;
}

.navbar__menu li {
    list-style: none;
    margin-right: 20px;
}

.navbar__menu-item > a {
    font-size: 16px;
    font-weight: 500;
    color: #231F1E;
}

.navbar__menu-item > a:hover {
    color: #8a8484;
}

.navbar__search-box {
    padding: 8px 16px;
    border: 1px solid #F5F6F6;
    background-color: #F5F6F6;
    border-radius: 25px;
    margin-right: 20px;
    width: 300px;
    max-width: 400px;
}

.navbar__search-box form {
   display: flex;
   justify-content: space-between;
}

.navbar__search-box input{
    border: unset;
    color: #231F1E;
    background-color: #F5F6F6;
    outline: none!important;
}

.navbar__search-box button{
    border: unset;
    background-color: #F5F6F6;
    cursor: pointer;
}

.navbar__search-box button:hover {
    color: red;
}


.navbar__login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__login > img{
    margin-right: 10px;
}

.navbar__login > a{
    font-weight: 500;
    color: #231F1E;
}

.navbar__cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__cart > img{
    margin-right: 10px;
}

.navbar__cart > a{
    font-weight: 500;
    color: #231F1E;
}