<div class="container__order-sumary">
    <div class="order-sumary__content">
        <app-section-title title="resumo do pedido"></app-section-title>
        <div class="content__sumary-items">
            <span>2 produtos</span> <span>R$ 2.141,50</span>
            <hr>
        </div>
        <div class="content__total-price">
            <span>2 produtos</span> <span>R$ 2.141,50</span>
        </div>
        <div class="content__confirm-button">
            <button>teste</button>
            <span>adicionar mais produtos</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
