<div class="container__product-details" >
    <app-banner 
    bannerTitle = 'Nova LG Smart TV 8k' 
    bannerText="Desfrute dos melhores filmes e series com uma smartTV LG."
    bannerImg ='https://cdn.shopify.com/s/files/1/2700/1230/products/SmartTVLG32LQ630B6LED32HD-11_grande.png?v=1649325086' direction="row-reverse" background="#CCC" buttonColor=""
    buttonHoverColor='#CCC'
    direction="row-reverse"
    >
    </app-banner>
    <app-section-title title="Produtos em promoção!"></app-section-title>
    <div class="product-details-info">
        <app-product-card-details [product]="productDetail"></app-product-card-details>
    </div>
    <app-section-title title="Produtos relacionados!"></app-section-title>
    <div class="content__product-card">
        <div *ngFor="let item of relatedProductsList; let i =index">
            <app-product-card *ngIf="i < 5" [product]="item"></app-product-card>
        </div>
    </div>
    <app-section-title title="Produtos em promoção!"></app-section-title>
    <div class="content__product-card" *ngIf="promoProductsList.length">
        <div  *ngFor="let item of promoProductsList; let i =index">
            <app-product-card *ngIf="i < 5" [product]="item"></app-product-card>
        </div>
    </div>
    <hr>
    <div class="container__review">
        <h2 class="title">Avaliações</h2>
        <div class="review-content">
            <div class="review-sumary">
                <app-review-sumary [product]="productDetail"></app-review-sumary>
            </div>
            <div class="review-list">
                <div class="review-list-title">
                    <h3>comentários</h3>
                </div>
                <div class="review-list-card" *ngFor="let review of reviews">
                    <app-review-card [review]="review"></app-review-card>
                </div>
            </div>
        </div>
    </div>
</div>

