.container__product-details {
    margin: 0 auto;
}

.product-details-info {
    padding: 0 40px;
    margin-bottom: 50px;
}

.container__review {
    margin-bottom: 40px;
    padding: 0 40px;
}

.title {
    color: #231F1E;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.review-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.review-sumary {
    width: 25%;
    margin-right: 40px;
}

.review-list {
    width: 75%;
    margin-bottom: 30px;
    padding: 0 20px;
    border: 1px solid #d4d8d8c1;
    border-radius: 20px;
}

.review-list-title {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #F5F6F6;
    margin-bottom: 20px;
}

.review-list-title h3 {
    color: #231F1E;
}

.review-list-card {
    background-color: #F5F6F6;
    padding: 20px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}


.section__title {
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #231F1E;
    width: 90%;
}

.content__product-card {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

