<div class="container__category">
    <app-section-title title="{{ category.name }}"></app-section-title>
    <div class="categories__content">
        <div class="content-filter">
            <div class="filter-option">
                <h5>preço</h5>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <label for="">até €50,00</label>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <label for="">€50,00 até €100,00</label>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <label for="">€100,00 até €250,00</label>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <label for="">€250,00 até €500,00</label>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <label for="">€500,00 até €1.000,00</label>
                </div>
        
            </div>
            <div class="filter-option">
                <h5>avaliação</h5>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <ngb-rating [max]="5" [rate]="5" [readonly]="true"></ngb-rating>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <ngb-rating [max]="5" [rate]="2" [readonly]="true"></ngb-rating>
                </div>
                <div class="option-item">
                    <input type="checkbox" name="" id="">
                    <ngb-rating [max]="5" [rate]="1" [readonly]="true"></ngb-rating>
                </div>
            </div>
        </div>
        <div class="content__product-card" *ngFor="let item of productList">
                <app-product-card [currentRating]="item.rate"  [product]="item"></app-product-card>
        </div>
    </div>
</div>
