
.content__product-card {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.categoties__content {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: self-start;
}

.content-filter {
    background-color: #F5F6F6;
    border-right: 1px solid #CCC;
}

.filter-option {
    margin-bottom: 20px;
    padding: 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.option-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.option-item input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

ngb-rating {
    display: block;
    color: gold;
    font-size: 25px;
}