<div class="container__product-card">
    <div class="product-card__content">
        <div class="content__img">
            <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e563db5507951bbfbe_homepad-mini-min.png" alt="">
        </div>
        <div class="content__details">
            <div class="content__details-info">
                <div class="content__details-name-price">
                    <h1>HomePode mini</h1>
                    <span>R$ 239.00</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur deserunt!
                </p>
            </div>
            <div class="content__details-reviews">
                <span><img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt=""></span><span>(121)</span>
            </div>
            <div class="content__details-btn">
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
</div>


