<div class="container__product-card">
    <div class="product-card__content">
        <a [routerLink]="['/products', product.id]" >
            <div class="content__img">
                <div class="discount-tag" *ngIf="product.isInSale">
                    <span  >{{ product.discountValue}}% </span><span>de desconto</span>
                </div>
                <img [src]="product.coverImg" [alt]="product.name">
            </div>
        </a>
        <div class="content__details">
            <div class="content__details-info">
                <div class="content__details-name">
                    <a [routerLink]="['products', product.id]">
                        <p>{{ product.description }} </p>
                    </a>
                </div>
                <div class="content__details-title">
                    <div class="details-title__price" >
                        <div [ngClass]="{'price-original':product.isInSale}">
                            <span> {{ product.price | currency: 'EUR'}}</span>
                        </div> 
                        <div class="price-promo" *ngIf="product.isInSale">
                            <span > {{ product.promotionalPrice | currency: 'EUR'}}</span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="content__details-reviews">
                <div class="star">
                    <star-rating 
                    [value]="product.rate"
                    [totalstars]="5"
                    checkedcolor="#F2C832"
                    uncheckedcolor="#CCC"
                    size="16px"
                    [readonly]="true">
                    </star-rating> 
                    <span> ({{ product.qtyReviews }})</span>
                </div>
            </div>
            <div class="content__details-btn">
                <button (click)="addToCart()">Add to Cart</button>
            </div>
        </div>
    </div>
</div>


