.container__product-card {
    margin-bottom: 30px;
    margin-right: 10px;
    width: 100%;
}

.product-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.content__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F6;
    margin-bottom: 12px;
    border-radius: 10px;
    height: 250px;
}

.content__img img {
    max-width: 80%;
}

.content__img img:hover {
    transition: .4s;
    max-width: 85%;
}

.content__details {
    padding: 5px;
    width: 100%;
}

.content__details-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.content__details-title h1 {
    font-size: 18px;
    font-weight: 600;
    color: #231f1e;
}
.content__details-title span {
    font-size: 18px;
    font-weight: 600;
    color: #231f1e;
}

.details-title__price  {
    display: flex;
}

.details-title__price .price__cifrao  {
    font-size: 13px;
    margin-right: 2px;
}

.content__details-info p {
    font-size: 12px;
    color: #333;
    margin-bottom: 15px;
}

.content__details-reviews {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.content__details-reviews img {
    height: 12px;
    margin-right: 3px;
}

.content__details-btn button{
    font-family: Eina01, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #231f1e;
    background-color: unset;
    border-radius: 20px;
    padding: 10px 18px;
    border: 1px solid #231f1e ;
    cursor: pointer;
}

.content__details-btn button:hover {
    color: #fff;
    background-color: #003d29;
    transition: .5s;
}