<div class="container__product-card">
    <div class="product-card__content">
        <a [routerLink]="['products', product.id]">
            <div class="content__img">
                <img src="{{ product.coverImg}}" alt="">
            </div>
        </a>
        <div class="content__details">
            <div class="content__details-info">
                <div class="content__details-title">
                    <h1> {{ product.name }}</h1>
                    <div class="details-title__price">
                        <span class="price__cifrao">R$ </span><span> {{ product.price}}</span> 
                    </div>
                </div>
                <p>{{ product.description }} </p>
            </div>
            <div class="content__details-reviews">
                <span><img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                </span><span> ({{ product.qtyReviews }})</span>
            </div>
            <div class="content__details-btn">
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
</div>


