<div class="container__product-details">
    <div class="product-details__content">
        <div class="content__left-content">
            <div class="left-content__main-photo">
               <div class="main-photo__background">
                    <img src="https://cdn.weasy.io/users/xiaomi/catalog/redmi_note_12_pro_5g_black.png" alt="">
               </div> 
            </div>
            <div class="left-content__other-photos">
                <div class="other-photos__backgorund">
                    <img src="https://cdn.weasy.io/users/xiaomi/catalog/redmi_note_12_pro_5g_black.png" alt="">
                </div>
                <div class="other-photos__backgorund">
                    <img src="https://cdn.weasy.io/users/xiaomi/catalog/redmi_note_12_pro_5g_black.png" alt="">
                </div>
                <div class="other-photos__backgorund">
                    <img src="https://cdn.weasy.io/users/xiaomi/catalog/redmi_note_12_pro_5g_black.png" alt="">
                </div>
                <div class="other-photos__backgorund">
                    <img src="https://cdn.weasy.io/users/xiaomi/catalog/redmi_note_12_pro_5g_black.png" alt="">
                </div>
            </div>
            
        </div>
        <div class="content__right-content">
            <div class="content__details">
                <div class="content__details-info">
                    <div class="content__details-title">
                        <h1>Smartphone S12</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sed nulla deserunt beatae cupiditate.</p>
                </div>
                <div class="content__details-reviews">
                    <span><img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                        <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                        <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                        <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                        <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9d9ee08987e0ffb064bca_Star.svg" alt="">
                    </span><span> (102)</span>
                </div>
                <div class="details-title__price">
                    <span class="price__cifrao">R$ </span><span> 1250.00</span> 
                </div>
                <div class="content__details-btn">
                    <button>Add to Cart</button>
                </div>
            </div>
            <div class="consult-shipping">
                <h3>Calcular frete e prazo</h3>
                <div class="consult-shipping__input-box">
                    <input type="text" placeholder="Digite seu cep">
                    <button>Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
