
.container__product-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.product-details__content {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.content__left-content {
    width: 50%;
    margin-right: 30px;
}

.main-photo__background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F6;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.main-photo__background img{
    margin: auto;
    max-width: 600px;
    max-width: 400px;
}

.left-content__other-photos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.other-photos__backgorund {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F6;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.other-photos__backgorund:hover {
    opacity: .7;
}

.left-content__other-photos img {
    width: 100px;
}

.content__right-content {
    width: 50%;
}


.content__details-title h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #231f1e;
}

.content__details-info p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
}

.content__details-reviews {
    margin-bottom: 15px;
}

.star {
    display: flex;
    align-items: center;
}

.star > span {
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}

.details-title__price {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: #231f1e;
    margin-bottom: 20px;
}

.price__cifrao {
    font-size: 26px;
    margin-right: 5px;
}

.content__details-add-cart {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.content__counter-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.content__counter-items .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F5F5;
    width: 30px;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #F0F5F5;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}

.content__counter-items .btn:hover {
    transition: .4s;
    background-color: #003d29;
    color: #FFF;
   
}

.btn-left {
    border-radius: 15px 0 0 15px;
}

.btn-right {
    border-radius: 0 15px 15px 0;
}

.content__counter-items .label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F5F5;
    width: 30px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
}

.content__details-btn-cart button{
    font-family: Eina01, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #231f1e;
    background-color: unset;
    border-radius: 20px;
    padding: 10px 22px;
    border: 1px solid #231f1e76;
    cursor: pointer;
}

.content__details-btn-cart button:hover {
    color: #fff;
    background-color: #003d29;
    transition: .5s;
}

.consult-shipping h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

.consult-shipping__input-box input{
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid #231f1e6a;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;

}

.consult-shipping__input-box button{
    font-size: 14px;
    font-weight: 700;
    color: #003d29;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #003d297b;
    cursor: pointer;
}

.consult-shipping__input-box button:hover {
    color: #FFF;
    background-color: #003d29;
    
}