<div class="container__product-details">
    <div class="product-details__content">
        <div class="content__left-content">
            <div class="left-content__main-photo">
               <div class="main-photo__background">
                    <span class="background-favourite-icon">❤</span> 
                    <img [src]="product?.coverImg" [alt]="product?.name">
               </div> 
            </div>
            <div class="left-content__other-photos">
                <div class="other-photos__backgorund">
                    <img [src]="product?.imgUrl" alt="">
                </div>
            </div>
        </div>
        <div class="content__right-content">
            <div class="content__details">
                <div class="content__details-info">
                    <div class="content__details-title">
                        <h1>{{ product?.description}}</h1>
                    </div>
                </div>
                <div class="content__details-reviews">
                    <div class="star">
                        <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="true"></ngb-rating>
                        <!--   <star-rating 
                            [value]="product?.rate"
                            [totalstars]="5"
                            checkedcolor="#F2C832"
                            uncheckedcolor="#CCC"
                            size="18px"
                            [readonly]="true">
                        </star-rating> -->
                        <span> ({{ product?.qtyReviews }}) {{product?.qtyReviews!=1?'avaliações':'avaliação'}}</span>
                    </div>
                    <a href="#reviews">ver avaliações</a>
                    
                </div>
                <div class="details-title__price">
                    <div [ngClass]="{'price-original':product?.isInSale}">
                       <span [ngClass]="{'promo-active':product?.isInSale}" class="price-if-promo">De: </span> <span> {{ product?.price | currency: 'EUR'}}</span>
                    </div> 
                    <div class="price-promo" *ngIf="product?.isInSale">
                        <span > Por: {{ product?.promotionalPrice | currency: 'EUR'}}</span>
                    </div>
                </div>
                <div class="content__details-add-cart">
                    <div class="content__details-btn-cart">
                        <button (click)="addToCart()">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="consult-shipping" id="reviews">
                <h3>Calcular frete e prazo</h3>
                <div class="consult-shipping__input-box">
                    <input type="text" placeholder="Digite seu cep">
                    <button>Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
