<div class="container__review-sumary">
    <div class="review-sumary__title">
        <h3> Nota</h3>
    </div>
    <div class="review-sumary-info">
        <div class="star-rating">
            <span>{{product?.rate}}</span>
            <star-rating
            [value]="product?.rate"
            [totalstars]="5"
            checkedcolor="#F2C832"
            uncheckedcolor="#CCC"
            size="24px"
            [readonly]="true">
            </star-rating>
        </div>
        <hr>
        <p>Este produto teve {{ product?.qtyReviews}} avaliações</p>
    </div>
</div>