.container__slip-payment {
    margin: auto;
    width: 60%;
}

.slip-payment__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    width: 100%;
}

.content-title span {
    color: #231F1E;
    font-weight: 700;
    font-size: 18px;
    justify-content: left;
    width: 100%;
}

.content-title img {
    margin-right: 5px;
    width: 30px;
}

.content-title p {
    color: #5A5D5A;
    margin: 5px 0 20px 0;
    justify-content: left;
}

.content-info {
    display: flex;
}

.content-info img {
    width: 150px;
    margin-right: 20px;

}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text-item {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.info-text-item p {
    color: #5A5D5A;
    margin: 0;
}

.info-text-item img {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50px;
    border-radius: 50%;
    background-color: #CCC;
    font-weight: 500;
}