<div class="container__slip-payment">
    <div class="slip-payment__content">
        <div class="content-title">
            <img src="https://www.shareicon.net/data/256x256/2016/07/16/636201_boleto_480x300.png" alt="">
            <span>Pagar no boleto</span>
            <p>Pague utilizando o boleto basta imprimir e pagar no banco, caixa eletrônico ou intenet bank</p>
        </div>
        <div class="content-info">
            <div class="info-text">
                <div class="info-text-item">
                    <div>1</div><p> Imprima o boleto e <strong>pague no banco</strong>;</p>
                </div>
                <div class="info-text-item">
                    <div>2</div><p> <strong>ou pague pela internet </strong>utilizando o código de barras do boleto;</p>
                </div>
                <div class="info-text-item">
                    <div>3</div><p> o prazo de validade do boleto é de "<strong>1 dia util</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

