<div [ngStyle]="{'background':background}"  class="container__banner">
    <div [ngStyle]="{'flex-direction':direction}" class="banner__content">
        <div class="banner__content-left">
            <h1 [ngStyle]="{'color':textColor}"> {{product.name}} </h1>
            <p [ngStyle]="{'color':textColor}"> {{ product.description }}</p>
            <a routerLink="/products/{{ product.id }}"><button [ngStyle]="{'background':buttonColor, 'border': buttonColor, 'button:hover':buttonHoverColor}"> {{ buttonText }} </button></a>
        </div>
        <div class="banner__content-right">
            <img [src]="product.coverImg" alt="">
        </div>
    </div>
</div>
