<div class="container__home">
    <div class="home__content">
        <div class="content__banner">
            <app-product-banner [product]="product">

            </app-product-banner>
        </div>
        <app-section-title title="Produtos para você!"></app-section-title>
        <div class="content__product-card">
            <div *ngFor="let item of productList">
                <app-product-card [product]="item"></app-product-card>
            </div>
        </div>
        <div class="content__banner">
            <app-banner 
            bannerTitle = 'três maçãs verdes' 
            bannerText="Essa maçã é muito boa"
            bannerImg ='https://www.spar.pt/images/thumbs/0005093_maca-golden-7075-ii-kg-emb-500gr-aprox_550.png' 
            direction="row-reverse" 
            background="#CCC" 
            buttonColor=""
            direction="row-reverse"
            >
            </app-banner>
        </div>
        <app-section-title title="Veja  nossas categorias mais visitadas!"></app-section-title>
        <div class="content__category-card">
            <div *ngFor="let category of categoryList; let i = index" >
                <div *ngIf="i < 6">
                    <app-category-card [category]="category"></app-category-card>
                </div>
            </div>
        </div>
        <app-section-title title="Ofertas por tempo limitado!"></app-section-title>
        <div class="content__product-card" >
            <div *ngFor="let item of promoProductsList; let i =index">
                <app-product-card *ngIf="i < 5" [product]="item"></app-product-card>
            </div>
        </div>
        <app-banner 
        bannerTitle = 'Get 5% Cash Back' 
        bannerText="on Shopcart.com"
        bannerImg='https://cdn-icons-png.flaticon.com/512/3176/3176101.png'
        >
        </app-banner>
    </div>
</div>
