<div class="container__home">
    <div class="home__content">
        <div class="content__category-badge">
            <app-categories-badge></app-categories-badge>
        </div>
        <div class="content__banner">
            <app-banner 
            bannerTitle = 'Get 5% Cash Back' 
            bannerText="on Shopcart.com"
            bannerImg='https://cdn-icons-png.flaticon.com/512/3176/3176101.png'
            textColor="#FFF">
            </app-banner>
        </div>
        <div class="product-card__title">
            <h1>Produtos para você!</h1>
        </div>
        <div class="content__product-card">
            <div *ngFor="let item of productList">
                <app-product-card [product]="item"></app-product-card>
            </div>
        </div>
        <div class="content__banner">
            <app-banner 
            bannerTitle = 'maçã bonita' 
            bannerText="Essa maçã é muito boa"
            bannerImg ='https://www.spar.pt/images/thumbs/0005093_maca-golden-7075-ii-kg-emb-500gr-aprox_550.png' direction="row-reverse" background="#CCC" buttonColor=""
            buttonHoverColor='#CCC'
            direction="row-reverse"
            >
            </app-banner>
        </div>
        <div class="product-card__title">
            <h1>Veja  nossas categorias mais visitadas!</h1>
        </div>
        <div class="content__category-card">
            <app-category-card 
            cardImg="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e570738029a725e686_Furniture-min.png" 
            cardTitle="Movéis"
            ></app-category-card>
            <app-category-card
            cardImg="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e460afc22b7ea53520_books-min.png" 
            cardTitle="Livros"
            ></app-category-card>
            <app-category-card
            cardImg="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e754ac2e32897cb53b_tech-min.png"
            cardTitle="informática"
            ></app-category-card>
            <app-category-card
            cardImg="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e64b769118272f244f_sneakers-min.png"
            cardTitle="Moda"
            ></app-category-card>
            <app-category-card
            cardImg="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e71eb4ad6d07e7568f_travel-min.png"
            cardTitle="Viagens"
            ></app-category-card>
            <app-category-card
            cardImg="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e52d6553668075697e_hand%20bag-min.png"
            cardTitle="Bolsas"
            ></app-category-card>
        </div>
    </div>
</div>
