<div class="container__cart">
    <app-section-title title="meu carrinho"></app-section-title>
    <app-not-found 
    [visible]="!cart || !cart.items.length"
    messageTitle="Carrinho vazio!"
    messageText="Você ainda não possui itens no seu carrinho."
    buttonText="Ver produtos"
    ></app-not-found>
    <div class="cart__content" *ngIf="cart && cart.items.length">
        <div class="content__left">
            <div  *ngFor="let item of cart.items">
                <app-item-cart [cartItem]="item"></app-item-cart>
            </div>
        </div>
        <div class="content__right">
            <app-order-sumary></app-order-sumary>
            <app-generic-button (click)="clearCart()"
            buttonText="esvaziar o carrinho"
            padding="5px 10px"
            buttonColor="red">
        </app-generic-button>
        </div>
    </div>
</div>
