<div class="container__cart">
    <app-section-title title="meu carrinho"></app-section-title>
    <div class="cart__content">
        <div class="content__left">
            <div  *ngFor="let item of cart.items">
                <app-item-cart [cartItem]="item"></app-item-cart>
            </div>
        </div>
        <div class="content__right">
            <app-order-sumary></app-order-sumary>
        </div>
    </div>
    <app-banner 
    bannerTitle = 'Get 5% Cash Back' 
    bannerText="on Shopcart.com"
    bannerImg='https://cdn-icons-png.flaticon.com/512/3176/3176101.png'
    textColor="#FFF">
    </app-banner>
</div>
