.cart__content {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr min-content;
}

.container__cart {
    width: 100%;
    min-height: calc(100vh - 180px);
}

.content__right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}


