<div class="container__review">
    <div class="review__content">
        <h1>{{review.title}}</h1>
        <div class="star">
            <star-rating 
            [value]="review.rate"
            [totalstars]="5"
            checkedcolor="#F2C832"
            uncheckedcolor="gray"
            size="18px"
            [readonly]="true">
            </star-rating>
        </div>
        <p> {{ review.description }}</p>
        <span>{{ review.userName }} em {{ review.createdAt }}</span>
    </div>
</div>
