.container__checkout-sumary {

}

table {
    width: 75%;
    border: 1px solid #CCC;
    align-items: center;
    justify-content: center;
}

img {
    height: 100px;
}

.content__product {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 500px;
}