<div class="container__checkout-sumary">
    <div class="checkout-sumary__content">
        <app-section-title title="Resumo do pedido"></app-section-title>
        <div class="content__order-item title-column">
            <div class="tag">produto</div>
            <div class="tag">name</div>
            <div class="tag">qtd.</div>
            <div class="tag">preço unit.</div>
            <div class="tag">total do item</div>
        </div>
        <br>
        <div class="content__order-item" *ngFor="let item of order.items">
            <div class="order-item-img">
                <img [src]="item.product.imgUrl" alt="">
            </div>
            <div class="order-item-name">
                <p>{{ item.product.description}}</p>
            </div>
            <div class="order-item-base">
                <span>{{ item.quantity }}</span>
            </div>
            <div class="order-item-base">
                <span>{{ item.product.price | currency: 'EUR'}}</span>
            </div>
            <div class="order-item-base">
                <span>{{ item.price | currency: 'EUR'}}</span>
            </div>
        </div>
        <hr>
        
        <app-section-title title="Resumo do pedido"></app-section-title>
        <table>
            <tr>
                <td>Produto</td>
                <td>quantidade</td>
                <td>preço unitário</td>
                <td>total do item</td>
            </tr>
            <tr *ngFor="let item of order.items">
                <td>
                    <a class="content__product" routerLink="/products/{{ item.product.id }}">
                        <img [src]="item.product.coverImg" alt="" />
                        <p>{{ item.product.description}}</p>
                    </a>
                </td>
                <td>
                    {{ item.quantity}}
                </td>
                <td>
                    {{ item.product.price | currency: 'EUR'}}
                </td>
                <td>
                    {{ item.price | currency: 'EUR'}}
                </td>
            </tr>
        </table>
        <h1>{{ order.totalPrice | currency: 'EUR'}}</h1>
    </div>


</div>
