
.container__rating {
    min-height: calc(100vh - 80px);
}

.rating__content {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
}

.rating__content img {
    max-width: 200px;
    margin-right: 10px;
}

.rating__content h1 {
   font-size: 22px;
   margin: 0;
}

.content-product-details {
    display: grid;
    grid-template-columns: 250px minmax(200px, 1fr);
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding: 40px 20px;
    background-color: #FAFAFA;
    border-radius: 20px;
}

.content__review-form {
    border: 1px solid #cccccc7e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 8px 10px 18px -8px rgba(99,98,99,1);
}

.title h1::after {
    content: " (opcional)";
    font-weight: 500;
    margin-right: 5px;
    color: #5a5d5ad3;
}

.title h1 {
    color: #231f1e;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.star p {
    color: #5A5D5A;
    font-size: 16px;
}

.review-form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.review-form-field textarea {
    border-radius: 10px;
    padding: 10px 20px; 
    margin-bottom: 5px;
}

.review-form-field p {
    border-radius: 10px;
    padding-left: 20px;
    color: #5A5D5A; 
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

form h1 {
    font-size: 18px;
}

form p {
    font-size: 14px;
    margin: 0;
}

button {
    font-family: Eina01, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background-color: #003D29;
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid #003D29;
    cursor: pointer;
    max-width: 400px ;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

button:hover {
    color: #FFF;
    background-color: #231F1E;
    transition: .5s;
}


ngb-rating {
    color: gold;
    font-size: 40px;
    margin-bottom: 20px;
    
}