<div class="container__checkout">
    <div class="checkout__content">
        <div class="content-sumary">
            <div class="sumary-details">
                
                <app-delivery-sumary [deliveryAddress]="deliveryData"></app-delivery-sumary>
            </div>
            <app-checkout-order-sumary></app-checkout-order-sumary>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="button-close"><button (click)="closeModal()" type="button" class="btn-close button-close" ></button></div>
                  <app-checkout-sumary [order]="order"></app-checkout-sumary>
              </div>
            </div>
        </div>
        <hr>
        <app-payment-card></app-payment-card>
    </div>
</div>