<div class="container__item-cart">
    <div class="item-cart__content">
        <div class="content__product-card">
            <img [src]="cartItem.product.imgUrl" alt="">
        </div>
        <div class="product-card__text">
            <p>{{ cartItem.product.description}}</p>
        </div>
        <div class="content__add-cart">
            <div class="add-cart__button">
                <button class="btn btn-left">-</button><label class="label">1</label><button class="btn btn-right">+</button>
            </div>
            <span (click)="removeItemFromCart()">remover</span>
        </div>
        <div class="content__price">
            <span>{{ cartItem.price | currency: 'EUR'}}</span>
        </div>
    </div>
    <hr>
</div>
