<div class="container__item-cart">
    <div class="item-cart__content">
        <div class="content__product-card">
            <a [routerLink]="['/products', cartItem.product.id]"><img [src]="cartItem.product.imgUrl" alt=""></a>
        </div>
        <div class="product-card__text">
            <p>{{ cartItem.product.description}}</p>
        </div>
        <div class="content__add-cart">
            <div class="add-cart__button">
                <button (click)="minusOneItem(cartItem.product.id)" class="btn btn-left">-</button><label class="label">{{ cartItem.quantity }}</label><button (click)="plusOneItem(cartItem.product.id)" class="btn btn-right">+</button>
            </div>
            <span (click)="removeItemFromCart()">remover</span>
        </div>
        <div class="content__price">
            <span>{{ cartItem.price | currency: 'EUR'}}</span>
        </div>
    </div>
    <hr>
</div>
