<div class="container__item-cart">
    <div class="item-cart__content">
        <div class="content__product-card">
            <img src="https://cdn.weasy.io/users/xiaomi/catalog/redmi_note_12_pro_5g_black.png" alt="">
        </div>
        <div class="product-card__text">
            <p>Smartphone Motorola M159, 5G, tela 7", 6Gb de RAM, 256GB de aramazenamento interno</p>
        </div>
        <div class="content__add-cart">
            <div class="add-cart__button">
                <button class="btn btn-left">-</button><label class="label">1</label><button class="btn btn-right">+</button>
            </div>
            <span>remover</span>
        </div>
        <div class="content__price">
            <span>R$ 250,59</span>
        </div>
    </div>
</div>
